{# src/Perso/BlogBundle/Resources/view/Default/category.html.twig #}


{% extends "PersoBlogBundle:Admin:index.html.twig" %}

{% block title %}
  {{ parent() }} - Modifier un article
{% endblock %}

{% block breadcrumb %}
  {{ parent() }}
  <li class="active">Commentaire</li>
{% endblock %}

{% block blog %}
	<h2>Administration des commentaires</h2>
	<table class="table table-bordered table-striped">
	   <thead>
		  <tr>
				<th>Statut</th>
				<th>Auteur & Contenu</th>
				<th>Action</th>
		  </tr>
	   </thead>
	   <tbody>
	   
  {% for comment in listComments %}
  	<tr>
		<td>{{ comment.viewStatut|raw }}</td>
		<td><small><strong>{{ comment.article.title }}</strong></small><br /><small>Par "{{ comment.author }}", le {{ comment.date|date('d/m/Y') }} à {{ comment.date|date('H:m') }}</small><br /><br />{{ comment.comment }}</td>
		<td>
			<a href="{{ path('perso_blog_article',{'slug' : comment.article.slug }) }}" class="btn btn-success btn-xs" title="Voir sur le blog" target="_blank"><span class="glyphicon glyphicon-search"></span></a>
			<a href="{{ path('perso_blog_comment_edit',{'id' : comment.id }) }}" class="btn btn-warning btn-xs" title="Modifier"><span class="glyphicon glyphicon-pencil"></span></a>
			<a href="{{ path('perso_blog_comment_delete',{'id' : comment.id }) }}" class="btn btn-danger btn-xs" title="Supprimer"><span class="glyphicon glyphicon-remove"></span></a>
		</td>
	</tr>
	
  {% endfor %}
  
     </tbody>
	</table>
  
	<ul class="pagination">
	  {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
	  {% for p in range(1, nbPages) %}
		<li{% if p == page %} class="active"{% endif %}>
		  <a href="{{ path('perso_blog_admin_comments', {'page': p}) }}">{{ p }}</a>
		</li>
	  {% endfor %}
	</ul>

{% endblock %}